.container {
    width: 20%;
    padding: 20px;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #414141;
    box-sizing: border-box;
}

.container.dark {
    background: #1E1E1E;
}

.textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #414141;
    color: #111;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}

.textarea.dark{
    background: #1E1E1E;
    color: #E5E7EB;
}

.error {
    color: #F87171;
    font-size: 15px;
    margin-top: 8px;
}

.buttonStyle {
    background: #E5E7EB;
    color: #1E1E1E;
    border: 1px solid #414141;
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    justify-content: center;
    box-sizing: border-box;
}

.buttonStyle.dark {
    background: #1E1E1E;
    color: #E5E7EB;
}

.buttonStyle svg {
    width: 18px;
    height: 18px;
    stroke: #1E1E1E;
}

.buttonStyle.dark svg {
    stroke: #E5E7EB;
}